
.container{
  margin-top:3rem;
}
h1{
  text-align:center;
  font-family:cursive;
  color:rgb(223, 130, 145);
}
.audios{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(300px,2fr));
  place-items:center;
  grid-gap:2px;
}
.song-desc{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
p{
  font-family:'helvetica';
}
.title{
  text-align:center;
  color:skyblue;
}
.card{
  padding:0.5rem;
  border:2px solid whitesmoke;

}
img{
  width:100%;
  object-fit:contain;
}
